body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4e53;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    width: 100vw;
}

#navbar {
    width: 20rem;
    position: fixed;
    top: 0;
    bottom: 0;
}

#navbar ul {
    list-style: none;
}

#navbar a {
    text-decoration: none;
    color: #1a1a1a;
}

nav header {
    text-align: center;
}

header {
    font-size: 2rem;
    padding-top: 1rem;
    color: black;
}

.nav-list {
    padding-left: 0em;
    overflow-y: auto;
    overflow-x: hidden;
    height: 88%;
}

.nav-item {
    border-top: 0.0625rem solid black;
    font-size: 1.125rem;
    padding: 1rem 0.5rem 1rem 3rem;
    position: relative;
}

#main-doc {
    width: calc(100% - 20rem);
    margin-left: 20rem;
    padding: 2rem;
}
.main-section {
    line-height: 1.5;
}

.main-section p {
    padding-left: 0.75rem;
}

.main-section ul {
    padding-left: 5rem;
}

.main-section code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.active {
    color: rgb(43, 43, 182);
}
